.SectionSendTx .row {
    display: flex;
    justify-content: space-between;
}

.SectionSendTx .row.amount {
    position: relative; /* this is so that we can "position: absolute" the 'send max' button */
}

.SectionSendTx .row.amount .input {
    flex-grow: 1;
}

.SectionSendTx .row.amount .token {
    width: 220px;
    margin-left: 30px;
}

.SectionSendTx .row.amount .send-max {
    position: absolute;
    top: -4px;
    right: 250px;
    font-weight: bold;
    color: #4ebd94;
    cursor: pointer;
    transition: color 0.3s;
}

.SectionSendTx .row.amount .send-max:hover {
    text-decoration: none;
    color: #46daa3;
}

.SectionSendTx .gas-price .gwei {
    margin-left: 10px;
}


.SectionSendTx .recent-txs {
    flex-direction: column;
    margin-top: 30px;
}

.SectionSendTx .recent-txs .header {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(105, 189, 158, 0.5);
    color: #4ebd94;
    font-weight: bold;
    font-size: 1.7rem;
}

.SectionSendTx .subheading {
    margin-bottom: 20px;
}
